@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  input::placeholder,
  textarea::placeholder {
    color: #6b7280;
    opacity: 1;    
  }
}